hr.title {
	margin-top: .25em;
}


.top-bar, .top-bar ul {
	background-color: #1F1D1D;
}

.ng-pristine {
	border:1px solid green;
}

.ng-dirty {
	border:1px solid yellow;
}

.ng-invalid.ng-dirty {
	border:1px solid red;
}

.ng-valid.ng-dirty {
	border:1px solid green;
}

form {
	padding:2em;
}

#settings {
	margin-top: 3em;
}

#settings legend {
	font-size:1.75em;
}