hr.title {
	margin-top: .25em;
}

.ng-invalid-required.ng-touched {
	border:1px solid red;
}

/*main.main {
	padding-top: 3em;
	width:80%;
	margin: 0 auto;
	text-align: center;
}*/

.top-bar, .top-bar ul {
	background-color: #1F1D1D;
}


.top-bar-right {
	margin: 0 4em;
}

.top-bar-right ul.menu {
	margin-top: .75em;
}

.menu-text {
	font-size: 18px;
}

#settings {
	margin-top: 3em;
}

#settings legend {
	font-size:1.75em;
}