 <div class="row">      

        <div class="large-2 columns">&nbsp;</div>

          <div class="large-8 columns">
             <h1>Angular</h1>
             <h3>{{ welcome }}</h3><br/>
             {{user}}
             	<div class="large-6 medium-6">
	                <p>
	                <a href="#/landing" class="button">Home</a>		
	                <a href="#/login" class="button">Login</a>	                
	            </div>        
              
             <hr class="title" />
             <h5>Login:</h5>
                <form id="form" name="form">
                  <div class="row">
                    <div class="large-12 columns">
                      <label>First Name</label>
                      <input type="text" name="first" placeholder="enter your first name" ng-model="user.first" ng-required="true" />
                    </div>
                    <div class="large-12 columns">
                      <label>Last Name</label>
                      <input type="text" name="last" placeholder="enter your last name" ng-model="user.last" ng-required="true" />
                    </div>
                    <div class="large-12 columns">
                      <label>Email</label>
                      <input type="email" name="email" placeholder="enter your email" ng-model="user.email" ng-required="true" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-4 medium-4 columns">
                      <label>Age</label>
                      <input type="number" placeholder="enter your age" />
                    </div>
                    
                    
                  </div>
                  <div class="row">
                    <div class="large-12 columns">
                      <label>How did you hear about us:</label>
                      <select>
                        <option value="online">online</option>
                        <option value="friend">friend</option>
                        <option value="adverb">adverb</option>                        
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-6 medium-6 columns">
                      <label>Sex</label>
                        <input type="radio" name="male" value="male" id="maleRed">
                        <label for="maleRed">Male</label>
                        <input type="radio" name="female" value="female" id="femaleBlue">
                        <label for="femaleBlue">female</label>
                    </div>                    
                  </div>
                  <div class="row">
                    <div class="large-12 columns">
                      <label>Comments</label>
                      <textarea placeholder="enter your comments here" rows="4" cols="50"></textarea>
                    </div>
                  </div>

                  <div class="large-6 medium-6">
                    <h6>Fill out entire form before submitting</h6>
                    <button type="submit" ng-disabled="form.$invalid" class="button">Submit</button>
                 </div>

                </form>

           </div> 

           <div class="large-2 columns">&nbsp;</div>

           


      </div>
    </div>


    <br><br><hr>